/* Additional styles not provided by hyde.css */
img.inline {
    max-width: 100%;
}

.leftimage {
    float: left;
    margin: 0 1.5%;
    width: 40%;
}

.rightdescription {
    float: right;
    margin: 0 1.5%;
    width: 50%;
}

.paragraph {
    clear: both;
}